<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Panel Admin</title>	
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body>
	<header class="header">
		<div class="header-content">			
			<div class="logo">
				<span class="indigoIcon icon-indigo"></span>
				<figure class="imag">
					<img src="../static/images/indigo.png" alt="" width="65" height="26">
				</figure>
				<div class="right">										
					<figure class="avatar round left">
						<img src="../static/images/avatar.png" alt="@daguiheso" width="38" height="38">			
					</figure>
					<div class="left username">@daguiheso</div>
				</div>
				<div class="search right">
					<form action="" class="relative">
						<span class="icon-search search-icon"></span>
						<input type="text" class="input">						
					</form>
				</div>	
			</div>								
		</div>
		
	</header>
	<section class="mainMenu">
		
	</section>
	<section class="board">
		<!-- <div class="board-content">
			<h2>Products</h2>
			
			<form>
				<input></input>
			</form>
		</div> -->
	</section>
</body>
</html>