<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Panel Admin</title>	
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body>
	<header class="header">
		<div class="contenedor">			
			<span class="indigoIcon icon-indigo"></span>
			<figure class="imag">
				<img src="../static/images/indigo.png" alt="" width="65" height="26">
			</figure>
			<div class="header-session right">										
				<figure class="avatar round left">
					<img src="../static/images/avatar.png" alt="@daguiheso" width="38" height="38">			
				</figure>
				<div class="left username">@daguiheso</div>
			</div>
			<div class="header-alerts right">										
				<span class="icon-mail email-icon"></span>
				<span class="icon-bell "></span>
			</div>
			<div class="header-search right">
				<form action="" class="relative">
					<span class="icon-search search-icon"></span>
					<input type="text" class="input">
				</form>
			</div>											
		</div>		
	</header>
	<section class="mainMenu"></section>
	<section class="board">		
		<div class="caja">PRODUCTOS</div>
		<div class="action">
			<a href="#modal1" class="button" id="mostrar-form">Nuevo Producto</a>
			<a href="#" class="button">Consultar Producto</a>
			<a href="#" class="button">Modificar Producto</a>
		</div>		
		<div id="contenido">
			<div class="item">
				<p class="titulo_item item-feature">Lija Negra</p>	
				<p class="marca_item item-feature">Industysed</p>						
			</div>
		</div>
	</section>
	<section class="window">
		<!-- ventana-modal -->
		<div id="modal1" class="modalmask">
		    <div class="modalbox movedown">
		        <a href="#close" class="close" id="ocultar-form">X</a>
		        <h2>Nuevo Producto</h2>		        
		        <form id="formulario" class="formulario" >
		        	<input type="text" id="titulo" placeholder="Titulo" required>
        			<input type="text" id="marca"placeholder="Marca"  required>
        			<input type="submit" value="Agregar">
		        </form>
		    </div>
		</div>
	</section>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="../static/js/formulario.js"></script>
</body>
</html>